.materias {
    height: 100%;
    background-color: #ffe1ce;
}

.depoimento_conteudo {
    height: 48px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 12px;   
    
}

.depoimento {
    text-align: center;
    width: 100%;
    margin-top:10px;
    margin-bottom: 30px;
    padding:0px 10px 0px 10px;
    
    line-height: 1.5;
    font-size:20px;
    text-align: center;
}

.segundapagina {/**depoimento escrito**/
    text-align: center;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    background-color: #83aaa8;
    border-radius: 30px;
    margin: 10px 6px;
    line-height: 1.5;
   
}
.intermedio2 { /** testando na página dos artigos**/
    text-align: center;
    width: 35%;
    justify-items: center;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    border-radius: 30px;
    margin: 10px 6px;
    line-height: 1.5;
}

.materias-lista {
    display: flex;
    justify-content: space-between;
    
}
.nomes{
    background-color: #527a78;
    border-radius: 30px;
    margin-top: 10px;
    
}