.galeria {
   
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 20px;
  }


  #muda:checked ~ .box {
    color: red;
    text-align: justify;
}
.box {
    width: 300px;
    border: 1px solid #000;
}
.alterar{ 
  color: red;
  text-align: justify;
}