/* Intro */
.card{
    background-color: #8C8ED9;
    width: 95%;
    margin: 10px;
    padding: 10px;
    text-align: left;
    padding-inline: 10px;
  }
  .cardt{
    background-color: #47BDC5;
    width: 95%;
    margin: 10px;
    padding: 10px;
    display: flex;
    min-height: 200px;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin: 3rem auto;
    /* padding: 1.5rem; */
    background-color: #f9ecec;
    border-radius:5px ;
    margin-bottom: -10px;
  
  }
  .linha{
  justify-content: center;
  }
  
  .corpo{
    display: block;
  }
  
  .planos{
    width: 100%;
  
  }
  .espaco{
    margin: 10px;
    text-align: center;
  }
  .planos_divisao{
    display: block;
    margin: 5px;
    margin-left: 15px;
    text-align: center;
  }

.planos_conteudo {
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 12px;  
    min-width: 300px;
    max-width: 640px;
    
}
.intro_img {
    object-fit: cover;
    box-shadow: 0 8px 6px -6px black;
  }
  
  /* @media (min-width: 1024px) {
    .intro_img1 {
      clip-path: polygon(0 0, 50% 0, 88% 100%, 0% 100%);
      shape-outside: polygon(0 0, 50% 0, 88% 100%, 0% 100%);
      width: 680px;
      height: 480px;
      object-position: -72px -72px;
      float: left;
      margin-right: 24px;
    }
  } */

.intro_text {
    padding: 8px;
    margin: 8px;
    font-size: 22px;
    line-height: 36px;
    text-align: left;
    font-weight: 100;
}

/* Planos */
.contato2 { /*contato profissional*/
    text-align: center; 
 }
.contato2 header {
    height: 48px;
    padding: 0 12px;
    border-radius: 4px 4px 0px 0px;
}
.planos {
    height: unset;
    /* background-color: #ffe1ce; */
    border-radius: 4px;
}

.planos_cabecalho {
    height: 48px;
    font-size: 24px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding: 0 12px;    
}
.galeria {
    width: 300px;
    background-color: #83aaa8;
    max-height: 225px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px;
  }
.planos_lista {
    padding: 12px;
    border-radius: 4px;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 300px;
}
.blocop {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    background-color: #ffe1ce;
    border-radius: 4px 0px 4px 4px;
    position: relative;
    text-align: center;
} 

.blocop .pergunta {
    right: 8px;
    bottom: 8px;
    position: absolute;
}
.blocop2 {
    height: 30%;
    width: 100%;
    margin-top: 0px;
    background-color: #b8abb5; 
    position:relative;
  }
  .blocop3 {
    height: 110%;
    width: 100%;
    margin-top: 10px;
    background-color: #201396; 
    position: relative;
  }
  .blocop4 {
    height: 30%;
    width: 100%;
    margin-top: 0px;
    background-color: #1c164d; 
    position: relative;
  }
/* .bloco_cabecalho_degrade {
    background-image: linear-gradient(90deg, #ff904a, #ffe1ce);
} */
/* 
.bloco_laranja_claro {
    background-color: #ffe1ce;
} */
.borda_agendamento{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(192, 184, 184);
    font-size: 30px; color: #c2a711;
}

.plano {
    width: 488px;
    background-color: #83aaa8;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px 30px 30px 70px;
    border-radius: 4px;
}

.plano article {
    padding: 16px;
    font-size: 20px;
    font-weight: 300;
    flex-grow: 1;
    line-height: 24px;
    background: #266a78;
    color:rgb(255, 255, 255);
}


.plano header {
    font-size: 18px;
    font-weight: 400;
    background-color: #83aaa8;
    border-bottom: 1px solid #266a78;
    color:white;
    
}

.plano header,
.plano footer {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.plano footer {
    text-transform: uppercase;
    font-size: 16px;
    justify-content: center;
    background-color: #266a78;
    color: white;
    cursor: pointer;
}


/* Contato */
.grow {
    position: relative;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
    text-align: center;
    overflow: hidden;
   
  }
  .grow:hover {
    height: 500px;
    width: 800px;
   z-index: 20;
  }
  
.galeria_oi {
    width: 314px;
    height: 8px;
    display: grid;
    flex-direction: column;
    justify-items: auto;
    border-radius: 8px;
    position: absolute;
    margin-left: 558px;
    margin-top: 10px;
    z-index: 0;
}
.foto_galeria_oi{
    height: 200px;
    border-radius: 8px;
}
.juntos{
    display: grid;
    justify-content: space-between;
}

.personal{
    line-height: 1.8;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    color: #ecff3d;
  -webkit-text-stroke-width: 0.00px; /* largura da borda */
  -webkit-text-stroke-color: rgb(255, 255, 255);
    text-align: justify;
}
.descricao{
    color: #ffffff;
    text-align: justify;
  }
.explicacao{
    line-height: 1.3;
    font-size: 16px;
    margin:10px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.intro_img1 {
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    float: left; 
    text-transform: uppercase;  
}
.intro_img2 {
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    float: left;
}

.intro_img4 {
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    float: left;
    
}
.intro_img3 {
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    float: left;
   
}
.intro_text {
    padding: 8px;
    margin: 8px;
    color: #7bff3e;
    font-size: 22px;
    line-height: 36px;
    text-align: justify;
    font-weight: 100;
}

.blocop {
    height:100%;
    border-radius: 4px;
    overflow: hidden;
    background-color:#3e1fc9;
}
