.depoimentos {
    height: 100%;
    /*background-color: #ffe1ce;*/
    border-radius: 4px 4px;
    min-width: 300px;
    max-width: 640px;
}

.depoimento_conteudo {
    height: 48px;
    font-size: 24px;
    font-weight: 400;
    
    align-items: center;
    padding: 10px 12px;   
    border-radius: 4px 4px 0px 0px;
    min-width: 300px;
    max-width: 640px;
    
}
.individual{
    height: 100%;
    text-align: justify;
    
}
.depoimento {
    text-align: center;
    min-width: 300px;
    max-width: 640px;
    margin-top:10px;
    margin-bottom: 30px;
    padding:0px 10px 0px 10px;
    border-radius: 4px;
    line-height: 1.5;
    font-size:20px;
    text-align: center;
}

.depoimento2 {/**depoimento escrito**/
    text-align: center;
    padding: 12px;
    background-color: #521118;
    color: white;
    border-radius: 8px;
    margin: 10px 6px;
    line-height: 1.5;
}

.depoimentos-lista {
    
    justify-content: space-between;
   
    border-radius: 4px;
    min-width: 300px;
    max-width: 640px;
    
}
.nomes{
    background-color: #f620a4;
    border-radius: 8px;
    margin-top: 10px; 
    color: white;
    
}
.plano footer {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.plano footer {
    text-transform: uppercase;
    font-size: 16px;
    justify-content: center;
    background-color: #266a78;
    color: white;
    cursor: pointer;
}


    