.materias {
    height: 100%;
    /*background-color: #ffe1ce;*/
    border-radius: 2px;
    min-width: 300px;
    max-width: 640px;
}

.depoimento_conteudo {
    height: 52px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 12px;   
    border-radius: 4px 4px 0px 0px;
  
}
p{
    font-size: 20px;
}

.depoimento {
    text-align: center;
    width: 100%;
    margin-top:10px;
    margin-bottom: 30px;

    line-height: 1.5;
    font-size:20px;
    text-align: center;
}

.segundapagina {/**depoimento escrito**/
    text-align: left;
    
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    background-color: #521118;
    color:white;
    border-radius: 0px 0px 4px 4px;
    margin: 10px 6px;
    line-height: 1.5;
   
}
.intermedio2 { /** testando na página dos artigos**/
    text-align: center;
    width: 35%;
    justify-items: center;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    border-radius: 30px;
  
    line-height: 1.5;
    min-width: 300px;
    max-width: 640px;
}

.materia_individual{
    text-align: justify;
    width: 35%;
    justify-items: center;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    border-radius: 30px;
    margin: 10px 6px;
    line-height: 1.5;
    min-width: 300px;
    max-width: 640px;
}
.paragrafo_dentro{/**entrte os paragrafos**/
    margin:10px 5px 10px 5px;
}

.materias-lista {
    display: flex;
    justify-content: space-between;
    
}
p{
    font-size:18px;
}
.nomes{
    background-color: #527a78;
    border-radius: 30px;
    margin-top: 10px;
    
}
.continue_lendo{/*botao do forms*/
    max-width: 300px;
    margin: 40px 40px 0px 40px;
    color:black;
    padding: 10px 20px;
    border: 2px solid #000000;
    display: inline-block;
    background-color: #DB5DA2;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 400;
}
.continue_lendo:hover {
    background-color: #a1507c;
    border-radius: 8px;
}
.foto_galeria{
    height: 300px;
    width: 300px;
    margin:0px;
    margin-bottom: 20px;
    margin-top:0px;
      
    
        
}
.foto_galeria2{
    height: 300px;
    width: 300px;
    margin:0px;
    margin-bottom: 20px;
    margin-top:0px;
    
    
}

.foto_galeria3{
    height: 300px;
    width: 300px;
    margin:0px;
    margin-bottom: 20px;
    margin-top:0px;  
}

.foto_galeria4{
    height: 300px;
    width: 300px;
    margin:0px;
    margin-bottom: 20px;
    margin-top:0px;  
}

@keyframes circle {
    from {
        -webkit-clip-path: circle(0%);
        clip-path: circle(0%);
    }
    to {
        -webkit-clip-path: circle(120px);
        clip-path: circle(120px);
    }
}
    
.foto{
    
    width: 300px;
    margin:0px;
    margin-bottom: 0px;
    margin-top:0px;
    object-fit: cover;
     
}
.foto2{
    width: 300px;
    margin:0px;
    margin-bottom: 0px;
    margin-top:0px;
  object-fit: cover;
    
}