.galerias {
    height: 100%;
    background-color: #ffe1ce;
  
}

.galeria_cabecalho {
    height: 48px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 12px;    
}
.galeria_conteudo {
    height: 48px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 12px;   
    
}

.galeria_lista {
    padding: 6px 6px 6px 30;
    grid-auto-flow:column;
    justify-content: space-between ;
}

.galeria {
    width: 314px;
    background-color: #83aaa8;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    margin:10px;
}

.galeria article {
    padding: 8px;
    font-size: 16px;
    font-weight: 300;
    flex-grow: 1;
}

.galeria header {
    font-size: 18px;
    font-weight: 400;
    background-color: #83aaa8;
    border-bottom: 1px solid #266a78;
}

.galeria header,
.galeria footer {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.galeria footer {
    text-transform: uppercase;
    font-size: 16px;
    justify-content: center;
    background-color: #266a78;
    color: white;
    cursor: pointer;
}

.galeria footer:hover {
    background-color: #3f707a;
}
.foto_galeria{
    height: 225px;
}
.galeria_link {
    padding: 0px 750px 0px 0px;
    color: black;   
   
}

.galeria_link:hover {
    background-image: linear-gradient(90deg, #d86f2d, #ffe1ce);
    border-radius: 8px;
    padding: 0px 800px 0px 20px;
}


