
.depoimento_conteudo {
    height: 48px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 12px;   
    border-radius: 4px 4px 0px 0px;
    
}
.individual{
    height: 320px;
    text-align: justify;

}

.depoimento2 {/**depoimento escrito**/
    text-align: center;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    background-color: #521118;
    color: white;
    border-radius: 8px;
    margin: 20px 6px;
    line-height: 1.5;
}

.depoimentos-lista {
    display: flex;
    justify-content: space-between;
    display: flex;
    border-radius: 4px;
    
}
.nomes{
    background-color: #41EAD4;
    border-radius: 8px;
    margin-top: 10px; 
    color: black;
    
}
.plano footer {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.plano footer {
    text-transform: uppercase;
    font-size: 16px;
    justify-content: center;
    background-color: #266a78;
    color: white;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .individual{
     height: 100%;
        text-align: justify;
    
    }
    .depoimentos-lista {
        flex-direction: column; /* Alinha os elementos verticalmente */
        justify-content: flex-start; /* Ajusta o alinhamento para iniciar no topo */
        gap: 16px; /* Adiciona espaçamento entre os elementos */
    }
}
@media (max-width: 480px) {
    .individual{
     height: 100%;
    text-align: justify;
    }
    .depoimentos-lista {
        flex-direction: column; /* Alinha os elementos verticalmente */
        justify-content: flex-start; /* Ajusta o alinhamento para iniciar no topo */
        margin-top: 16px;
        margin-bottom: 10px;
        gap: 16px; /* Adiciona espaçamento entre os elementos */
    }
    .depoimento_conteudo {
        height: 48px;
        font-size: 24px;
        font-weight: 400;
        
        align-items: center;
        padding: 10px 12px;   
        border-radius: 4px 4px 0px 0px;
        min-width: 300px;
        max-width: 640px;
        
    }
    .depoimento2 {/**depoimento escrito**/
        text-align: center;
        padding: 12px;
        background-color: #521118;
        color: white;
        border-radius: 8px;
        margin: 10px 6px;
        line-height: 1.5;
    }
}