.galerias {
  height: 100%;
  background-color: #521118;
}

.galeria_cabecalho {
  height: 48px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.galeria_conteudo {
  height: 48px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 12px;
}


.galeria_lista {
  padding: 6px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.galeria {
  width: 300px;
  background-color: #ff66c4;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  margin: 10px;
}

.galeria article {
  padding: 8px;
  font-size: 16px;
  font-weight: 300;
  flex-grow: 1;
}

.galeria header {
  font-size: 18px;
  font-weight: 400;
  background-color: #83aaa8;
  border-bottom: 1px solid #ff66c4;
}

.galeria header,
.galeria footer {
  height: 48px;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.galeria footer {
  text-transform: uppercase;
  font-size: 16px;
  justify-content: center;
  background-color: #ff66c4;
  color: white;
  cursor: pointer;
}

.galeria footer:hover {
  background-color: #ff66c4;
}
.foto_galeria {
  height: 225px;
}
.galeria_link {
  padding: 0px 750px 0px 0px;
  color: black;
}

.galeria_link:hover {
  background-image: linear-gradient(90deg, #5170ff, #ff66c4);
  border-radius: 8px;
  padding: 0px 800px 0px 20px;
}
