
.segundapagina {/**depoimento escrito**/
    text-align: center;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    background-color: #521118;
    color: white;
    border-radius: 0px 0px 4px 4px;
    margin: 10px 6px;
    line-height: 1.5;
   
}
.intermedio2 { /** testando na página dos artigos**/
    text-align: center;
    width: 35%;
    /* justify-items: center; */
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    border-radius: 30px;
    margin: 10px 6px;
    line-height: 1.5;
}

.materias-lista {
    display: flex;
    justify-content: space-between;
    
}
p{
    font-size:16px;
    line-height: 1.8; 
}


.foto_galeria{
    animation: 4s infinite alternate circle;
    display: flex;
    height: 200px;
    width: 300px;
    object-position: -12px -145px;
    float: left;  
}
.foto_galeria2{
    animation: 4s infinite alternate circle;
    display: flex;
    height: 200px;
    width: 300px;
    object-position: -12px -31px;
    float: left;  
}
.foto_galeria3{
    animation: 4s infinite alternate circle;
    display: flex;
    height: 200px;
    width: 300px;
    object-position: -15px -31px;
    float: left;  
}
.foto_galeria4{
    animation: 4s infinite alternate circle;
    display: flex;
    height: 200px;
    width: 300px;
    object-position: -15px -31px;
    float: left;  
}

@keyframes circle {
    from {
        -webkit-clip-path: circle(0%);
        clip-path: circle(0%);
    }
    to {
        -webkit-clip-path: circle(120px);
        clip-path: circle(120px);
    }
}
    
.foto{
    height: 300px;
    width: 400px;
    margin:20px;
    margin-bottom: 0px;
    margin-top:0px;
    float: left;  
}
.foto2{
    height: 300px;
    width: 400px;
    margin:20px;
    margin-bottom: 0px;
    margin-top:0px;
    float: right;  
}
@media (max-width: 1000px) {
  .intermedio2{
    text-align: justify;

  }
}
