
body {/*corpo laranja de tudo*/
    color: #000000; 
    background-color: #20201f; 
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin-bottom: 16px;
    line-height: 30px;
}
head{
    text-align: left;
    color: #45dd17;
   
}
.eu{
    text-align: left;
    color: #ffffff;
    margin-top: 30px;
    background-color: black;
    padding: 20px;
}
.tatoo3 { /*foto no cabeçalho*/
    text-align: center;
    background-color: black;
    float: left;
    width:30px;
    margin-left: 300px;
    margin-right: 180px;
    padding: 0;
    margin-bottom: auto;
    border-radius: 0px 10px 10px 10px;
}

.cabecalho{/*cabeçalho de todas as paginas*/
    display: flex;
    
    align-items: center;
    justify-content: center;       
    text-decoration: none;
    color: black;      
    font-weight: bold;
    padding: 5px;
    border: 1px solid #f37121;
    border-radius: 10px;
    min-width: 80px;
}
.cabecalho:hover{
    color: white;
    background-color: #2fce3c00; 
}
.cabecalho:visited:hover {
  color: white;
  background-color: #83d38083; 
}
/**botões**/

.botao_um{ /*botoes do cabeçalho*/
    background-color: #f37121;
    font-size:23px;
}
.botao_dois{
    background-color: slategray;
    border-radius: 0px;
    max-width: 60%;
    margin: 20px;
    margin-left: 20%;
    padding: 15px 12px 15px 12px;
    font-size:20px;  
    
    
}
.botao_tres{
    background-color: slategray;
    border-radius: 0px;
    max-width: 60%;
    margin: 20px;
    
    padding: 15px 12px 15px 12px;
    font-size:20px;  
    
}
.botao_quatro{
    background-color: skyblue;
    border-radius: 60px;
}
.botao_cinco{
    background-color: #d1d8b3e8;   
    border-radius: 0px;
    max-width: 50%;
    margin: 2px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #000000;
    color:black; 
    font-size:20px;
    
}
.botao_seis{
    background-color: slategray;
    border-radius: 0px;
    max-width: 100%;
    margin: 20px;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #000000;
    font-size:20px;

}.botao_sete{
    background-color: slategray;
    border-radius: 0px;
    max-width: 60%;
    margin: 20px;
    margin-left: 20%;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #000000;
    font-size:20px;
}
.pergunta{/*botao do forms*/
    background-color: #111d5e;
    border-radius: 0px;
    max-width: 300px;
    margin: 20px;
    margin-top: 5px;
    padding: 15px 30px 15px 25px;
    border: 1px solid #000000;
    color: white;
    display: inline-block;
}

#corpo{/*corpo de dentro*/
    background-color: #20201f;
    width: 1000px;
    padding: 2px 2%;
    margin-left: auto;
    margin-right: auto;  
    border-radius: 10px;
}

.nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
    background-color: #f37121;
    width: 1000px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

/**layout superior**/
.chamada{/*escrito=formação profissional*/
    background-color: #f37121;
    padding: 10px 50px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 450px;
    margin-top: 10px;
    border-radius: 0px 60px 0px 0px;  
    line-height: 1.5;
    font-size:30px; 
}
.chamada2{/*escrito=planos*/
    background-color: #d1d8b3e8;
    padding: 10px 50px;
    font-weight: bold;
    margin-right: 500px;
    margin-bottom: 2px;
    margin-top: 10px;
    border-radius: 60px 0px 0px 0px;  
    line-height: 1.5;
    font-size:30px; 
}

.artigo_escrita{/** texto artigo**/
    background-color: #f37121;
    padding: 10px 50px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 450px;
    margin-top: 10px;
    border-radius: 0px 60px 0px 0px;  
    line-height: 1.5;
    font-size:30px; 
}

/**imagens**/
.tatooplanos { /*foto tatoo galeria*/
    text-align: center;
    background-color: black;
    float: right;
    width:210px;
    margin: 20px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 2px solid rgb(19, 17, 17);
 }
.cara { /*foto*/
    text-align: center;
    background-color: #f37121;
    float: left;
    width:250px;
    margin: 10px 30px 30px 30px;
    border: 1px solid rgb(19, 17, 17);
    padding: 0;
    margin-bottom: auto;
    border-radius: 110px 110px 110px 110px;
}
.foto_curriculo{
    text-align: center;
    background-color: black;
    float: left;
    width:445px;
    margin: 0px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: auto;
    border-radius: 0px;
}
.foto_treino{
    text-align: center;
    background-color: black;
    float: right;
    width:303px;
    margin: 0px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: auto;
    border-radius: 0px;
}
.foto_galeria{
    text-align: center;
    background-color: black;
    float: right;
    width:300px;
    margin: 0px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: auto;
    border-radius: 0px;
}
.tatoo2 { /*foto tatoo*/
    text-align: center;
    background-color: black;
    float: right;
    width:150px;
    margin: 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 0px;
}

.textoinicial{/**antes do curriculo**/
    text-align: justify;
    line-height: 1.5;
    font-size:25px;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 820px;
    background-color: #20201f;
    border-radius: 0 0px 0px 0px;
    padding: 20px 90px 20px 20px;
    height:305px;
    
   
    background-image: linear-gradient(to left, rgb(0, 0, 0) 10%, #20201f 40%, #000000 100%, #000000);  
}

.texto-curriculo{  
    text-align: left;
    line-height: 1.5;
    font-size:30px;
    color: black;
    margin:auto;
    flex-basis: 224px;
    flex-grow: 1;
}
.palavra{
    color:white;
}

.texto-curriculo2{/** texto informação profissional**/
    align-items: center;
    line-height: 1.5;
    font-size:20px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    padding: 10px 20px 0px 0px;
    background-color: #f37121;
    height: 305px;
}
.planos { /*planos de treinos*/
    line-height: 1.5;
    font-size:20px;
    color:white;
    text-align: center;
    width: 100%;
    background-color: #111d5e;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px 0px 0px;
    border-radius: 0px;
    height:305px;
    min-height: min-content;
 }

.artigos { /*parte dos artigos*/
    line-height: 1.5;
    font-size:20px;
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top:10px;
    border-radius: 30px;
    padding: 0px 100px 0px 100px;
}

.intermedio2 { /** testando na página dos artigos**/
    background-color: #d1d8b3e8;
    text-align: center;
    width: 35%;
    margin-top:10px;
    justify-items: center;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 0 16px;
}
.materia_individual { /** testando na página da materia em si**/
    background-color: #d1d8b3e8;
    text-align: center;
    width: 900px;
    margin-top:20px;
    justify-items: center;
    border-radius: 30px;
    margin-right: auto;
    margin-left: 50px;
    padding: 20px 20px 20px 20px;
    flex-basis: 200px;
    flex-grow: 1;
  
}
.segundapagina{ /** testando na página dos artigos**/
    background-color: #20201f;
    width: 70%;
    height: auto;
    padding: 2px 2%;
    margin-left: auto;
    margin-right: auto;  
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;   
}

.depoimento {
    text-align: center;
    width: 100%;
    margin-top:10px;
    margin-bottom: 30px;
    padding:0px 10px 0px 10px;
    
    line-height: 1.5;
    font-size:20px;
    text-align: center;
}

.depoimento2 {/**depoimento escrito**/
    text-align: center;
    
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    background-color: rgb(133, 143, 143);
    border-radius: 30px;
    margin: 10px 6px;
}

.depoimentos-lista {
    display: flex;
    justify-content: space-between;
}

.galeria_dentro{
    text-align: center;
    width: 100%;
    margin-top:10px;
    margin-bottom: 30px;
    padding:0px 10px 0px 10px;
    line-height: 1.5;
    font-size:20px;
    text-align: center;
}
.galeria2 {/**foto escrito**/
    text-align: center;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    background-color: #111d5e;
    border-radius: 30px;
    margin: 10px 6px;
}


.contato { /*contato profissional*/
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-size:25px;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
    color: white;
 }

 .curriculointerno {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
 }

.nomes{
    background-color: rgba(77, 85, 85, 0.753);
    border-radius: 30px;
    margin-bottom: auto;
}
.insta{
    text-align: center;
    background-color: #8863c4;
    width:50px;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    margin: auto;
    border: 1px solid rgb(207, 99, 37);
    padding: 0;
    margin-right: 20px;
    border-radius: 110px 110px 110px 110px;
  
}
.facebook{
    text-align: center;
    background-color: #8863c4;
    width:50px;
    margin: 0;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    border: 1px solid rgb(34, 36, 190);
    padding: 0;
    border-radius: 110px 110px 110px 110px;
    margin-right: 20px;
}

.email{
    text-align: center;
    background-color: #8863c4;
    width:50px;
    margin: 0;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0;
    border-radius: 110px 110px 110px 110px;
    margin-right: 20px;
}

.experiencia { /*parte das informações profissionais*/
    background-color: #d1d8b3e8;
    text-align: left;
    width: 100%;
    margin-right: auto;
    margin-top:0px;
 
    padding: 10px 10px 10px 10px;
    line-height: 30px;
}
.rodape{
    width: 150%;
}
.botaopag{
    color: #c70039; text-shadow: white 0.5em 0.1em 0.2em;
    
}
.teste{
    color: black; text-shadow: white 0.3em 0.1em 0.2em;
}