
body {/*corpo laranja de tudo*/
    color: #000000; 
    background-color: #f1b355; 
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head{
    text-align: left;
    color: #45dd17;
}
.eu{
    text-align: center;
    color: #0a0c58;
}
.cabecalho{/*cabeçalho de todas as paginas*/
    display: flex;
    align-items: center;
    justify-content: center;       
    text-decoration: none;
    color: rgb(248, 248, 248);      
    
    font-weight: bold;
    padding: 12px;
    border: 2px solid #eaedf0;
    border-radius: 10px;
    min-width: 120px;
}
.cabecalho:hover{
    color: #FFF;
    background-color: #02df27; 
}
.cabecalho:visited:hover {
  color: #FFF;
  background-color: #0cc243; 
}
.botao_um{ /*botoes do cabeçalho*/
    background-color: #13599bcb;
}
.botao_dois{
    background-color: #cc792ccb;
    border-radius: 60px;
}
.botao_tres{
    background-color: #f31111;
    border-radius: 60px;
}
.botao_quatro{
    background-color: skyblue;
    border-radius: 60px;
}
.botao_cinco{
    background-color: #13599bcb;    
}
.botao_seis{
    background-color: #147bdb1e;
    border-radius: 60px;
    color: black;

}.botao_sete{
    background-color: slategray;
    border-radius: 60px;
    color: black;
}
.pergunta{/*botao do forms*/
    background-color: rgba(1, 105, 105, 0.562);
    border-radius: 60px; 
}


#corpo{/*corpo branco*/
    background-color: #ffffff;
    width: 800px;
    padding: 2px 2%;
    margin-left: auto;
    margin-right: auto;  
    border-radius: 10px;
}

.nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}
.chamada{/*escrito=formação profissional*/
    background-color: rgb(235, 205, 176);
    padding: 10px 50px;
    font-weight: bold;
    margin-right: 400px;
    margin-bottom: auto;
    border-radius: 5px 60px 5px 20px;   
}
.secao-curriculo {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}
.cara { /*foto*/
    text-align: center;
    background-color: #8863c4;
    float: right;
    width:200px;
    margin: 0;
    border: 1px solid rgb(19, 17, 17);
    padding: 0;
    margin-bottom: auto;
    border-radius: 110px 110px 110px 110px;
}
.texto-curriculo{
    text-align: left;
    margin-bottom: 30px;
    margin-top: 20px;
    flex-basis: 224px;
    flex-grow: 1;
}

.curriculo {
    text-align: center;
    background-color: teal;  
}

.planos { /*planos de treinos*/
    margin-top: 50px;
    color:white;
    text-align: center;
    width: 65%;
    background-color: rgb(12, 12, 11);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 0px 10px 0px 10px;
    border-radius: 30px;
    clear: both;
 }

.planos_botao{ /*botao do saiba mais*/
    margin-top: 50px;
    padding-top: 20px;
}

p{
    margin-bottom: 16px;
    line-height: 30px;
}

.artigos { /*parte dos artigos*/
    background-color: #13599bcb;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top:50px;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
}

.intermedio2 { /** testando na página dos artigos**/
    background-color: #13599bcb;
    text-align: center;
    width: 35%;
    margin-top:10px;
    justify-items: center;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 0 16px;
}
.segundapagina{ /** testando na página dos artigos**/
    background-color: #f1b355;
    width: 70%;
    height: auto;
    padding: 2px 2%;
    margin-left: auto;
    margin-right: auto;  
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.depoimento {
    text-align: center;
    width: 100%;
    background-color: rgb(145, 160, 160);
    margin-top:50px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding:0px 10px 0px 10px;
}

.depoimento2 {/**depoimento escrito**/
    text-align: center;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    background-color: rgb(133, 143, 143);
    border-radius: 30px;
    margin: 0 16px;
}

.depoimentos-lista {
    display: flex;
    justify-content: space-between;
}

.contato { /*contato profissional*/
    text-align: center;
    width: 100%;
    background-color: teal;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
 }

 .curriculointerno {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: teal;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
 }

.nomes{
    background-color: rgba(77, 85, 85, 0.753);
    border-radius: 30px;
    margin-bottom: auto;
}
.insta{
    text-align: center;
    background-color: #8863c4;
    width:50px;
    margin: 0;
    border: 2px solid rgb(207, 99, 37);
    padding: 0;
    margin-bottom: 10px;
    border-radius: 110px 110px 110px 110px;
}
.facebook{
    text-align: center;
     background-color: #8863c4;
    width:50px;
     margin: 0;
     border: 2px solid rgb(34, 36, 190);
    padding: 0;
    margin-bottom: 10px;
    border-radius: 110px 110px 110px 110px;
}

.experiencia { /*parte das informações profissionais*/
    background-color: #d1d8b3cb;
    text-align: left;
    width: 100%;
    margin-right: auto;
    margin-top:20px;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    line-height: 30px;
}