.leu { /*foto formacao*/
    text-align: center;
    float: right;
    width:100px;
    margin: 10px 30px 30px 30px;
    border: 1px solid rgb(19, 17, 17);
    padding: 0;
    margin-bottom: auto;  
}
.lcn { /*foto formacao*/
    text-align: center;
    float: right;
    width:100px;
    margin: 30px 30px 30px 30px;
    border: 1px solid rgb(19, 17, 17);
    padding: 0;
    margin-bottom: auto;  
}
.porto { /*foto formacao*/
    text-align: center;
    float: left;
    width:150px;
    margin: 10px 30px 30px 30px;
    border: 1px solid rgb(19, 17, 17);
    padding: 0;
    margin-bottom: auto;  
}
.segundapagina {/**depoimento escrito**/
    text-align: center;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    color: white;
    padding: 12px;
    background-color: #521118;
    border-radius: 0px 0px 4px 4px;;
    margin: 10px 6px;
    line-height: 1.5;
   
}

.intermedio2 { /** testando na página dos artigos**/
    text-align: center;
    width: 35%;
    justify-items: center;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    flex-basis: 224px;
    flex-grow: 1;
    padding: 12px;
    border-radius: 30px;
    margin: 10px 6px;
    line-height: 1.5;
}

.materias-lista {
    display: flex;
    justify-content: space-between;
    
}
.espaco{
    line-height: 1.8;
    text-align: justify;
}
@media (max-width: 768px) {
    .segundapagina {/**depoimento escrito**/
        text-align: left;
        display: inline-block;
        flex-basis: 224px;
        flex-grow: 1;
        padding: 12px;
        background-color: #521118;
        color: white;
        border-radius: 0px 0px 4px 4px;
        margin: 10px 6px;
        line-height: 1.5;
       
    }
    .intermedio2 { /** testando na página dos artigos**/
        text-align: left;
        width: 35%;
        justify-items: center;
        border-radius: 30px;
        margin-right: auto;
        margin-left: auto;
        padding: 5px 10px 0px 10px;
        display: inline-block;
        flex-basis: 224px;
        flex-grow: 1;
        padding: 12px;
        border-radius: 30px;
        margin: 10px 6px;
        line-height: 1.5;
        min-width: 300px;
        max-width: 640px;
    }
}

@media (max-width: 480px) {
    .segundapagina {/**depoimento escrito**/
        text-align: left;
        display: inline-block;
        flex-basis: 224px;
        flex-grow: 1;
        padding: 12px;
        background-color: #521118;
        color: white;
        border-radius: 0px 0px 4px 4px;
        margin: 10px 6px;
        line-height: 1.5;
       
    }
    .intermedio2 { /** testando na página dos artigos**/
        text-align: left;
        width: 35%;
        justify-items: center;
        border-radius: 30px;
        margin-right: auto;
        margin-left: auto;
        padding: 5px 10px 0px 10px;
        display: inline-block;
        flex-basis: 224px;
        flex-grow: 1;
        padding: 12px;
        border-radius: 30px;
        margin: 10px 6px;
        line-height: 1.5;
        min-width: 300px;
        max-width: 640px;
    }
}