@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.h3{
    padding-top: 20px;
}
.descricao{
    text-align: justify;
    padding: 10px;
    width: 60%;
    margin-left: 20%;
    align-items: center;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 450px; */
    margin: 3rem auto;
    padding: 1.5rem;
}

.box{
    display: flex;
    
}

.form-box{
    background-color: rgba(8, 139, 49, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    border-radius:20px;
}
.form-box h2{
    font-size: 30px;
}
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: #FF008A;
    text-decoration: none;
    cursor: pointer;
    transition:0.4s;

}


.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    /* font-weight: bold; */
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 60%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: #ff008869;
}
form .input-group button{
    width: 60%;
    height: 47px;
    background: #FF008A;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.input-group button:hover{
    background-color: #b10b0b;
}
.entrar{
    width: 60%;
    max-width: 300px;
    padding: 10px 20px;    
    background: #FF008A;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.entrar:hover{
    background-color: #b10b0b;
}



/* @media (max-width:930px) {
   
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
} */