.gallery .control-button {
  color: rgb(43, 23, 23);
  color: rgba(32, 17, 17, 0.4);
}

.gallery .control-button:hover {
  color: rgb(105, 41, 41);
  color: rgba(53, 23, 23, 0.8);
}

/*
      Theme controls how everything looks in Gallery CSS.
  */
.gallery {
  position: relative;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c73c0a;
  /* position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; */
}

@media (min-width: 1024px) {
  .gallery .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .item {
    height: 420px;
    overflow: hidden;
    text-align: center;
    background-color: #c73c0a;
  }
}

.item.blocop {
  border-radius: 0;
}

.control-button {
  /* display: inline-block; */
  margin: 0 0.02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color 0.4s;
}
